<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/bundle.css">
    <title>Anzhuo's Blog</title>
  </head>
  <body>
    <main>
      <div class="page">
        <a href="/"><h2>Anzhuo's Blog</h2></a>
        {% for post in collections.feature | reverse %}
          <div class="post">
            <h1>
              <a href="/{{post.data.title | slugify}}">{{ post.data.title }}</a>
            </h1>
            <h4>
              {{ post.data.time }}
            </h4>
            {{ post.content | safe }}
          </div>
        {% endfor %}
        <a href="/archive"><h4>Previous posts >></h4></a>
      </div>
    </main>
  </body>
</html>